<p>
<% if @question.questionnaire.inactive? %>
  <% info_tip_text = "<p>Displays a form where you can edit this question's details.</p>"-%>
  <%= link_to "Edit", edit_question_path(@question), :class => 'get li_tooltip btn btn-fixed-size', :title => "Edit - " +info_tip_text %>
  <% if "preview" != controller.action_name %>
    <% info_tip_text = "<p>Displays a quick preview of this question, as it will be seen in the submission side.</p>"-%>
    <%= link_to "Preview", preview_question_path(@question.id), :class => 'get li_tooltip btn btn-secondary btn-fixed-size', :title => "Preview question - " +info_tip_text %>
    <%= render_add_button("question", @question.questionnaire) %>
    <%= render_delete_button("question", @question.questionnaire, question_path(@question)) %>
  <% else %>
    <% info_tip_text = "<p>Takes you back to the page of this question.</p>"-%>
    <%= link_to "Close preview", question_path(@question), :class => 'get btn btn-secondary btn-fixed-size', :title => "Question - " + info_tip_text  %>
  <% end %>
<% end%>
</p>
