<% answer = Question.get_answer(@fields[:answers], question.id, looping_identifier) -%>
<%= hidden_field_tag(:user_delegate, @current_user_delegate.id, class: 'disabled_section_information') if @current_user_delegate %>
<div class="submit_question row clear <%= answer && answer.old_answer? ? "old-answer" : "" %><%= disabled ? "disabled" : "" %>" id="question_div_<%= question.id.to_s + (looping_identifier ? "_#{looping_identifier}" : "") %>">

  <div class="question-title">
    <!-- <div class="number-circle"><%#= question_index %></div> -->
    <h4>
      <% field_to_use = question_field && question_field.title.present? ? question_field : question_field_default %>
      <%= raw Sanitize.clean( ( ( ( question.loop_item_types.present? && loop_item.present? ) ? field_to_use.loop_title(loop_sources, loop_item) : field_to_use.title )), OrtSanitize::Config::ORT) %>

      <%= raw  "<span style='color: red;'>*</span>" if question.is_mandatory? %>
    </h4>
  </div>


  <div class="">
    <% field_to_use = question_field && question_field.description.present? ? question_field : question_field_default %>
      <% #since description is not mandatory, the question_field object might not have it so we'll try with the question_field_default-%>

  <% if field_to_use && field_to_use.description.present?  -%>
    <div class="question-description">
      <%= Sanitize.clean((question.question_extras.present? && loop_item.present?) ?  field_to_use.replace_variables(:description, @authorization[:language], loop_sources, loop_item) : field_to_use.description, OrtSanitize::Config::ORT).html_safe %>
    </div>
  <% end -%>

    <div class="answer_fields_wrapper row padded">
      <% can_edit = question.can_edit_text_answer?(answer, @current_user_delegate) %>
      <%= render :partial => "#{question.answer_type_type.underscore}s/submission", :locals => { :question => question, :answer_type => question.answer_type, :loop_item => loop_item, :answer => answer, :disabled => disabled || !can_edit, :looping_identifier => looping_identifier }, :inline => true  %>

      <%= render partial: "questions/answer_details", locals: {
          question: question, answer: answer, looping_identifier: looping_identifier,
          answer_type_help_text: answer_type_help_text,
          current_user: current_user, field_to_use: field_to_use
        }
      %>

      <% if question.answer_type_type == 'TextAnswer'%>
        </div> <!-- text-answer -->
        <div class="text-answers-flag">
          <span><%= t('generic.respondent') %></span>
        </div>
        </div> <!-- text-answer-container -->
        <%= render partial: "text_answers/delegate_text_answers", locals: {
          question: question, answer: answer,
          looping_identifier: looping_identifier,
          current_user: current_user, disabled: disabled
        }
        %>
      <% end %>

    </div> <!-- answer_fields_wrapper -->

    <div id="answer_doc_<%= question.id.to_s + (looping_identifier ? "_#{looping_identifier}" : "")%>">
      <% if answer.present? && answer.documents.present? -%>
        <div id="docs_list_<%= question.id.to_s + (looping_identifier ? "_#{looping_identifier}" : "")%>">
          <p><%= t('submission_pages.files_you_have') %></p>
          <ul>
            <% answer.documents.each do |document| -%>
              <li><%= link_to h(document.doc_file_name), document.doc.url %><%=if document.description? then ": " + h(document.description) end%></li>
            <% end -%>
          </ul>
        </div>
      <% end %>
    </div><!-- /answer_doc_id -->

    <div id="answer_links_<%= question.id.to_s + (looping_identifier ? "_#{looping_identifier}" : "")%>">
      <% if answer.present? && answer.answer_links.present? -%>
        <div id="links_list_<%= question.id.to_s + (looping_identifier ? "_#{looping_identifier}" : "")%>">
          <p><%= t('submission_pages.links_you_have') %></p>
          <ul>
            <% answer.answer_links.each do |link| -%>
              <%# target=>_blank was specifically requested.. seriously =(%>
              <li><%= link_to h(link.title.present? ? link.title : link.url), link.url, :target => "_blank" %><%=if link.description? then ": " + h(link.description) end %></li>
            <% end -%>
          </ul>
        </div>
      <% end %>
    </div><!-- /answer_link_id -->

  </div>
  <p class="clear"></p>
</div><!-- /questions_show -->
