<%= fields_for :answer_type, type do |builder| -%>
    <div class="row group padded">
      <%= render :partial => "answer_type_fields/form", :locals => {:f => builder, :answer_type_fields => type ? type.answer_type_fields : nil} %>
    </div>
    <h4>Matrix Answer Type<%= info_tip("Matrix Answer Type", "This type of answer will present the user with a table that, depending on the matrix orientation that you choose, will have Queries as columns and Options as Rows.<br />This allows you to ask the same Query for different Options.<br />Besides the matrix orientation you need to choose the type of input field that you want to use to display the respondents' replies.<br />There are four available types: Text field, Check boxes, Radio buttons and Drop down list. For the Drop down list type you will also have to provide options to build the list.")%></h4>
    <div class="row group padded">
      <%= builder.label :matrix_orientation, "Matrix orientation *" %>
      <% list_of_options = {"Queries (h) x Options (v)" => 0, "Queries (v) x  Options (h)" => 1 } -%>
      <%= builder.collection_select :matrix_orientation, list_of_options, :last, :first, {:prompt => true}, :class => "required"%>
    </div>
    <div class="row group padded">
      <%= builder.label :display_reply, "Display reply *" %>
      <%= builder.collection_select :display_reply, InputFieldType.to_a, :last, :first, {:prompt => true}, :class => "required"%>
    </div>
    <h4>Queries<%= info_tip("Matrix Answer Queries", "Please enter the queries to which the user will have to choose an option for. To add text click on a cell, to confirm your input press enter.") %></h4>
    <div id="the_queries">
      <table id="queries_list"><tr><td>&nbsp;</td></tr></table>
      <p><a href="#" id="addNewQuery">Add query</a> | <a href="#" id="removeSelectedQueries">Remove selected</a></p>
      <%= builder.fields_for(:matrix_answer_queries) do |option_form| -%>
          <%= render :partial => "matrix_answers/matrix_answer_query", :locals => {:f => option_form, :aux_builder => builder} %>
      <% end -%>
      <%= new_child_fields_template builder, :matrix_answer_queries -%>
    </div><!-- /the_queries -->
    <h4>Options<%= info_tip("Matrix Answer Options", "Please enter the options available for the user to choose from. To add text click on a cell, to confirm your input press enter.") %></h4>
    <div id="the_options">
      <table id="options_list"><tr><td>&nbsp;</td></tr></table>
      <p><a href="#" id="addNewOption">Add option</a> | <a href="#" id="removeSelectedOptions">Remove selected</a></p>
      <%= builder.fields_for(:matrix_answer_options) do |option_form| -%>
          <%= render :partial => "matrix_answers/matrix_answer_option", :locals => {:f => option_form, :aux_builder => builder} %>
      <% end -%>
      <%= new_child_fields_template builder, :matrix_answer_options -%>
    </div><!-- /the_options -->
    <div id="drop_down_options" class="<%= (!type.new_record? && (type.display_reply == 3)) ? "" : "hide" %>">
      <h4>Drop down list options<%= info_tip("Matrix Answer Drop Down List Options", "As you have chosen the display reply type of drop down lists, you should now add the options that will be displayed in the drop down lists. To add text click in a cell to confirm that text press enter. You can add more rows by clicking in 'Add Option'") %></h4>
      <table id="drop_options_list"><tr><td>&nbsp;</td></tr></table>
      <p><a href="#" id="addNewDropOption">Add option</a> | <a href="#" id="removeSelectedDropOptions">Remove selected</a></p>
      <%= builder.fields_for(:matrix_answer_drop_options) do |option_form| -%>
          <%= render :partial => "matrix_answers/matrix_answer_drop_option", :locals => {:f => option_form, :aux_builder => builder} %>
      <% end -%>
      <%= new_child_fields_template builder, :matrix_answer_drop_options -%>
    </div>
<% end -%>
<script type="text/javascript">
    $(function(){
        $("#answer_type_display_reply").change(function(){
            if($(this).val() == "3")
                $("#drop_down_options").show('slow');
            else
                $("#drop_down_options").hide('slow');

        });

        <% languages = type.answer_type_fields.sort_by{ |a| a.is_default_language? ? 0 : 1 } %>
        <% data_stub =  ", " + languages.map{|a| "#{a.language_english_name} : ''"}.join(', ') %>

        var the_data_stub = [
            {
                id: -1
                <%= data_stub.html_safe %>
            }
        ];

        <% if type.new_record? -%>

            var mydata = [
                {
                    id: 0
                    <%= data_stub.html_safe %>
                }
            ];

        <% else -%>
            <% j = 0 %>
                <% matrix_answer_queries =  type.matrix_answer_queries.order('id ASC') %>
                var queriesData = [
                    <% matrix_answer_queries.each_index do |i| %>
                        {
                            id: "<%= j %>",
                            <% query_fields = matrix_answer_queries[i].matrix_answer_query_fields.sort_by{|a| a.is_default_language? ? 0 : 1} %>
                            <% query_fields.each_with_index do |qf, n| %>
                              "<%= qf.language_english_name %>": "<%= escape_javascript(qf.title) %>"<%= "," if n < query_fields.size %>
                            <% end %>
                            <%#= ", " + matrix_answer_queries[i].matrix_answer_query_fields.sort_by{ |a| a.is_default_language? ? 0 : 1 }.map{|a| "#{a.language_english_name} : '#{h(a.title)}'"}.join(', ') %>
                        }
                        <% if i < matrix_answer_queries.size %>
                                ,
                        <% end -%>
                        <% j += 1 %>
                    <% end -%>
                ];
            <% j = 0 %>
                <% matrix_answer_options =  type.matrix_answer_options.order('id ASC') %>
                var optionsData = [
                    <% matrix_answer_options.each_index do |i| %>
                        {
                          id: "<%= j %>",
                          <% option_fields = matrix_answer_options[i].matrix_answer_option_fields.sort_by{|a| a.is_default_language? ? 0 : 1} %>
                          <% option_fields.each_with_index do |of, n| %>
                            "<%= of.language_english_name %>": "<%= escape_javascript(of.title) %>"<%= "," if n < option_fields.size %>
                          <% end %>
                          <%#= ", " + matrix_answer_options[i].matrix_answer_option_fields.sort_by{ |a| a.is_default_language? ? 0 : 1 }.map{|a| "#{a.language_english_name} : '#{h(a.title)}'"}.join(', ') %>
                        }
                        <% if i < matrix_answer_options.size %>
                            ,
                        <% end -%>
                        <% j += 1 %>
                    <% end -%>
                ];
                var dropOptionsData = [];
            <% if type.display_reply == 3 -%>
            <% j = 0 %>
                <% matrix_answer_drop_options =  type.matrix_answer_drop_options.order('id DESC') %>
                dropOptionsData = [
                    <% matrix_answer_drop_options.each_index do |i| %>
                        {
                            id: "<%= j %>",
                            <% drop_option_fields = matrix_answer_drop_options[i].matrix_answer_drop_option_fields.sort_by{|a| a.is_default_language? ? 0 : 1} %>
                            <% drop_option_fields.each_with_index do |dof, n| %>
                              "<%= dof.language_english_name %>": "<%= escape_javascript(dof.option_text) %>"<%= "," if n < drop_option_fields.size %>
                            <% end %>
                            <%#= ", " + matrix_answer_drop_options[i].matrix_answer_drop_option_fields.sort_by{ |a| a.is_default_language? ? 0 : 1 }.map{|a| "#{a.language_english_name} : '#{h(a.option_text)}'"}.join(', ') %>
                        }
                        <% if i < matrix_answer_drop_options.size %>
                            ,
                        <% end -%>
                        <% j += 1 %>
                    <% end -%>
                ];
            <% end -%>
        <% end -%>

        var columnNames = [
            <% languages.each_index do |i| -%>
                '<%= languages[i].language_english_name %>'
                <% if i < languages.size -%>
                    ,
                <% end -%>
            <% end -%>
        ];

        var columnModel = [
            <% languages.each_index do |i| -%>
                {name:'<%= languages[i].language_english_name %>', index:'<%= languages[i].language_english_name %>', sortable:false, editable: true, edittype:'textarea', editoptions:{maxlength: 3000}}
                <% if i < languages.size -%>
                    ,
                <% end -%>
            <% end -%>
        ];
        <% if type.new_record? -%>
        //columnNames, columnModel, the_data_stub, gridData, tableID, tableCaption, addButton, removeButton, mainAssociation, secondaryAssociation
            //queries
            answerTypeGrid(columnNames, columnModel, the_data_stub, mydata, "queries_list", "List of queries", "addNewQuery", "removeSelectedQueries", "matrix_answer_queries", "matrix_answer_query_fields", false, "title");
            //options
            answerTypeGrid(columnNames, columnModel, the_data_stub, mydata, "options_list", "List of options", "addNewOption", "removeSelectedOptions", "matrix_answer_options", "matrix_answer_option_fields", false, "title");
            //Drop Options
            answerTypeGrid(columnNames, columnModel, the_data_stub, [], "drop_options_list", "List of options for the drop down lists", "addNewDropOption", "removeSelectedDropOptions", "matrix_answer_drop_options", "matrix_answer_drop_option_fields", false, "option_text");
        <% else -%>
            //queries
            answerTypeGrid(columnNames, columnModel, the_data_stub, queriesData, "queries_list", "List of queries", "addNewQuery", "removeSelectedQueries", "matrix_answer_queries", "matrix_answer_query_fields", false, "title");
            //options
            answerTypeGrid(columnNames, columnModel, the_data_stub, optionsData, "options_list", "List of options", "addNewOption", "removeSelectedOptions", "matrix_answer_options", "matrix_answer_option_fields", false, "title");
            //Drop Options
            answerTypeGrid(columnNames, columnModel, the_data_stub, dropOptionsData, "drop_options_list", "List of options for the drop down lists", "addNewDropOption", "removeSelectedDropOptions", "matrix_answer_drop_options", "matrix_answer_drop_option_fields", false, "option_text");
        <% end -%>
    })
</script>
