<div class="option" style="display: block;">
  <li>Add the options in the questionnaire languages (click to display the fields):</li>
  <% the_id = ( f.object.id.nil? || f.object.id == 0 ) ? nil : f.object.id.to_s
    main_lang = aux_builder.object.answer_type_fields.select{|l| l.is_default_language?}.first
  -%>
  <li>
    <% #default language appears expanded %>
    <%= aux_builder.object.answer_type_fields.sort_by{ |a| a.is_default_language? ? 0 : 1 }.
      map{|field| "<a href='#' class='display_lang' id='#{the_id.nil? ? "new_multi_answer_options" : the_id }_ofield_#{field.language}'>#{field.language_english_name} #{field.is_default_language? ? "<i class='fa fa-caret-up'></i>" : "<i class='fa fa-caret-down'></i>"}</a> " }.
      join(" | ").html_safe %>
    |
    <a href="#" class="show_all_lang_fields">Expand all</a>
    /
    <a href="#" class="hide_all_lang_fields">Collapse all</a>
  </li>
  <li>
    <% #the auxiliar builder corresponds to the answer, which in this case is a multi_answer. And contains 1..* multi_answer_options
       # In this partial those multi_answer_options are being added along with the necessary multi_answer_options_fields (each of which
       # will have the help text and the option text in the languages supported by the questionnaire (matched here through
       # the answer_type_fields from the AnswerType (which are built in the multi_answer_controller).
      aux_builder.object.answer_type_fields.each do |answer_type_field| %>
          <%= f.fields_for :multi_answer_option_fields, get_field_object_in(answer_type_field.language, :multi_answer_option_fields ,f)  do |builder| %>
            <div class="<%= answer_type_field.is_default_language? ? "": "hide" %> lang_fields" id="fields_for_<%= the_id.nil? ? "new_multi_answer_options" : the_id %>_ofield_<%= builder.object.language %>">
              <fieldset>
                <legend>
                  <%=h answer_type_field.language_english_name %>
                </legend>
                <%= builder.hidden_field :language, :value => answer_type_field.language %>
                <%= builder.hidden_field :is_default_language, :value => answer_type_field.is_default_language %>
                <div class="row group padded">
                  <%= builder.label :option_text, "Option text #{ answer_type_field.language == main_lang ? "*" : ""}" %>
                  <%= builder.text_area :option_text, :rows => 2, :cols => 55, :dir => answer_type_field.language == "ar" ? "rtl" : "ltr", :class => "grow #{ builder.object.id ? " " : "option_text hide"}", :validate => "#{builder.object.language == main_lang ? "{required:true, messages:{required:'Option text in #{builder.object.language_english_name} is required'}}" : "" }" %>
                </div>
              </fieldset>
            </div>
        <% end %>
    <% end -%>
  </li>
  <li>
    <%= f.label :details_field, "Require details field?" %>
    <%= f.check_box :details_field %>
  </li>
  <p><%= remove_child_link "remove", f -%></p>
</div><!-- /option_class -->
