<%= fields_for :answer_type, type do |builder| %>
    <div class="row group padded">
      <%= render :partial => "answer_type_fields/form", :locals => { :f => builder, :answer_type_fields => type.answer_type_fields } %>
    </div>
    <div id="text_fields">
      <%= builder.fields_for :text_answer_fields do |option_form| %>
          <%= render :partial => "text_answers/text_answer_field", :locals => {:f => option_form, :aux_builder => builder } %>
      <% end %>
      <%= new_child_fields_template builder, :text_answer_fields %>
      <div class="row group padded">
        <%= add_child_link "Add a text field", :text_answer_fields %>
      </div>
    </div><!-- /text_fields -->
<%end%>
