<p><%=I18n.t('generic.hi')%> <%=h @user.full_name%>,</p>

<p><%= I18n.t('user_mailer.csv_generation_failed.first_line', :section => (@section ? "section ("+Sanitize.clean(@section.title(@user.language), {})+") of " : "" ), :questionnaire => h(@questionnaire.title(@user.language))).html_safe %></p>

<p><%= h @error.message %></p>

<p><%=I18n.t('user_mailer.greetings')%></p>

<%=ApplicationProfile.title%>
