<p><%=I18n.t('generic.hi')%> <%=h @requester.full_name%>,</p>

<p><%= I18n.t('user_mailer.pdf_generated.first_line', :questionnaire => h(@questionnaire.title(@requester.language))).html_safe %><%= if @requester != @user then ", #{I18n.t('user_mailer.pdf_generated.first_line_user')} #{h(@user.full_name)}" end %>.</p>

<p><%= I18n.t('user_mailer.pdf_generated.download') %></p>

<p><%=I18n.t('user_mailer.greetings')%></p>
<p><%=ApplicationProfile.title%></p>

<p><%=h @questionnaire.email_footer(@requester.language)%></p>
