<p><%=I18n.t('generic.hi')%> <%=h @user.full_name%>,</p>

<p><%= I18n.t('user_mailer.questionnaire_duplication_failed.first_line', :questionnaire => h(@questionnaire.title(@user.language))) %></p>

<p><%= h @error_message %></p>

<p><%=I18n.t('user_mailer.greetings')%>,</p>

<p><%=ApplicationProfile.title%></p>

<%=h @questionnaire.email_footer(@user.language) %>
