<p><%=I18n.t('generic.hi')%> <%=@delegate.full_name %>,</p>
<p><%= I18n.t('user_mailer.questionnaire_delegated.intro') %></p>
<p><strong><%=I18n.t('generic.questionnaire')%>:</strong> <%=@delegation.questionnaire.title(@delegate.language).html_safe %></p>
<p><strong><%=I18n.t('generic.delegator')%>:</strong> <%= @delegator.first_name %> <%= @delegator.last_name %></p>
<p><strong><%=I18n.t('generic.delegator')%> <%=I18n.t('generic.email')%>:</strong> <%= @delegator.email %></p>

<p><%= I18n.t('user_mailer.questionnaire_delegated.access') %>  <a href='<%=@url%>/questionnaires/<%=@delegation.questionnaire.id%>/submission'><%=@url%>/questionnaires/<%= @delegation.questionnaire.id %>/submission</a>.</p>
<p><%= I18n.t('user_mailer.questionnaire_delegated.dashboard') %></p>
<p><%= I18n.t('user_mailer.password_reset') %> <%= link_to "#{@url}#{new_password_reset_path}", "#{@url}#{new_password_reset_path}" %></p>
<p>
  <%= I18n.t('user_mailer.greetings')%><br />
  <%= ApplicationProfile.title %>
</p>
<p>
  <%=@delegation.questionnaire.email_footer(@delegate.language)%>
</p>
