<%= render 'administration/menu' %>

<div class="page-header">
  <h2>Manage Reminders</h2>
</div>

<p>A reminder is added to the system and can later be associated with any questionnaire deadlines. This way you can reuse your reminders. This association is defined in a Deadline page, which can be accessed from the Questionnaire's dashboard page.</p>

<%= link_to "Add a reminder", new_reminder_path, class: 'btn' %>
<hr class="grey">

<table class="tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th>When</th>
      <th>No associated deadlines</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%=h reminder.title%></td>
        <td><%=h reminder.body %></td>
        <td><%= pluralize reminder.days, "day" %> before</td>
        <td><%= reminder.deadlines.count %></td>
        <td>
          <%= link_to "Show", reminder %> |
          <%= link_to "Edit", edit_reminder_path(reminder) %> |
          <%= link_to "Remove", reminder, :method => :delete, :confirm => "Are you sure you want to delete this reminder?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
