<div class="span-24 last" id="content">

  <div id="content_header">
    <% info_tip_text = "<p></p>"%>
    <%= render :partial => "administration/menu", :locals => {:header => "Reminder " + info_tip("Reminder", info_tip_text), :include_options => "administration"} -%>
  </div>
  <div class="clear" id="q_dashboard" style="margin-bottom: 25px">
    <p><strong>Title</strong><%=h @reminder.title %></p>
    <p><strong>Alert</strong><%= pluralize @reminder.days, 'day' %> before</p>
    <p><strong>Alert message</strong><%=h @reminder.body %></p>
  </div>
  <h5>Associated deadlines</h5>
  <table class="tablesorter">
    <thead>
        <tr>
          <th>Title</th>
          <th>Due date</th>
          <th>Questionnaire</th>
        </tr>
    </thead>
    <tbody>
        <% for deadline in @reminder.deadlines -%>
            <tr>
              <td>
                <%= link_to h(deadline.title), deadline %>
              </td>
              <td>
                <%= deadline.due_date.strftime("%d/%m/%Y") %>
              </td>
              <td>
                <%= link_to h(deadline.questionnaire.title), deadline.questionnaire %>
              </td>
            </tr>
        <% end -%>
    </tbody>
  </table>
</div>
