<% last_activated ||= [] %>
<table class="dashboard_table" id="active_table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Created by</th>
    <th>Activated at</th>
    <% info_tip_text = "<p>The available actions are:</p>
                        <p>" + image_tag('icons/cog.png', size: '15x15') + " Takes you to the Manage Respondents page, where you can grant or take access from a user to a questionnaire.</p>
                        <p>" + image_tag('icons/pencil.png', size: '15x15') + " Clicking on this icon will take you to the submission page of this questionnaire.</p>
                        <p>" + image_tag('icons/table.png', size: '15x15') + " Takes you to a page where you can see the state of completion of a questionnaire for each of its respondents</p>"%>
    <th style="width:70px">Actions <%= info_tip("Actions", info_tip_text) %></th>
  </tr>
  </thead>
  <tbody>
  <% last_activated.each do |questionnaire| -%>
      <tr id="active_questionnaire_<%= questionnaire.id.to_s %>">
        <td><%= link_to h(questionnaire.title), dashboard_questionnaire_path(questionnaire) %></td>
        <td><%= link_to h(questionnaire.user.full_name), user_path(questionnaire.user) %></td>
        <td><%= questionnaire.activated_at.strftime("%B %d, %Y") %></td>
        <td>
          <%= link_to image_tag('icons/stop.png', :alt => "Deactivate", :title => "Deactivate questionnaire.", :size => "16x16"), deactivate_questionnaire_path(questionnaire), :class => :put %>
          <%= link_to image_tag('icons/cog.png', :title => 'Manage respondents', :alt => 'Manage respondents'), questionnaire_authorized_submitters_path(questionnaire)%>
          <%= link_to image_tag('icons/pencil.png', :title => 'Answer questionnaire', :alt => 'Answer questionnaire'), submission_questionnaire_path(questionnaire) %>
          <%= link_to image_tag('icons/table.png', :title => 'Feedback summary', :alt => 'Feedback summary'), respondents_questionnaire_path(questionnaire) %>
        </td>
      </tr>
  <% end -%>
  </tbody>
</table>
<p style="text-align: right; padding-right: 5px">
  <%= link_to "See all", active_questionnaires_path %>
</p>
