<table class="dashboard_table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Edited by</th>
    <th>Edited at</th>
    <% info_tip_text = "<p>The available actions are:</p>
               <p>" + image_tag('icons/key.png', size: '15x15') + " Let's you close a questionnaire, so that the respondents will not be able to make further changes to their answers.</p>
               <p>" + image_tag('icons/lock.png', size: '15x15') + " Indicates that a questionnaire is closed.</p>
               <p>" + image_tag('icons/stop.png', size: '15x15') + " Deactivates a questionnaire, making it available for editing and unavailable for the respondents to fill in their answers.</p>
               <p>" + image_tag('icons/start.png', size: '15x15') + " Activates a questionnaire, making it available for respondents to fill in their answers.</p>" -%>
    <th style="width:70px">Actions <%= info_tip("Actions", info_tip_text) %></th>
  </tr>
  </thead>
  <tbody>
  <% last_edited.each do |questionnaire| -%>
      <tr>
        <td><%= link_to h(questionnaire.title), dashboard_questionnaire_path(questionnaire) %></td>
        <td><%= link_to h(questionnaire.last_editor && questionnaire.last_editor.full_name), user_path(questionnaire.user) %></td>
        <td><%= questionnaire.updated_at.strftime("%B %d, %Y") %></td>
        <td class="questionnaire_<%= questionnaire.id.to_s %>"><%= questionnaire.active? ? (link_to image_tag('icons/stop.png', :alt => "Deactivate", :title => "Deactivate questionnaire.", :size => "16x16"), deactivate_questionnaire_path(questionnaire), :class => :put) : questionnaire.closed? ? image_tag('icons/lock.png', :alt => "Questionnaire closed", :title => "Questionnaire is closed") : (link_to image_tag('icons/start.png', :title => 'Activate questionnaire', :alt => 'Activate questionnaire', :size => "16x16"), activate_questionnaire_path(questionnaire), :class => "put") %></td>
      </tr>
  <% end -%>
  </tbody>
</table>
<p style="text-align: right; padding-right: 5px">
  <%= link_to "See all", questionnaires_path(:params => {:order => "updated_at"}) %>
</p>
