<%= form_for( [@questionnaire, @filtering_field], :html => { :id => "generator_form", :class => "normal formtastic"}) do |f| %>
    <%= hidden_field_tag :questionnaire_id, @questionnaire.id %>
    <div id="error_container" class="error_container clear hide">
      <h5>There are some errors in your form submission, please see details below</h5>
      <ul id="error_messages"></ul>
    </div>
    <div class="page-header"><h2>Add new filtering field</h2></div>
    <div class="row padded">
      <div class="col col-4"><%= f.label :name %></div>
      <div class="col col-8 border-left"><%= f.text_field :name, { :validate => "{required:true}" }%></div>
    </div>
    <span>Associate loop item types</span>
      <% for loop_source in @questionnaire.loop_sources -%>
        <% if loop_source.loop_item_type -%>
          <div class="row padded">
            <label><div class="col col-4"><%=h loop_source.name %></div></label>
            <div class="col col-8 border-left"><%= select "filtering_field[loop_item_types]", "#{loop_source.id}", options_for_select(loop_source.loop_item_type.self_and_descendants.sort{|a,b| a.lft <=> b.lft}.collect{ |i| ["#{'-'*i.level} #{i.name}", i.id ] }, :selected => check_loop_source_item_type(@filtering_field, loop_source)), { :include_blank => "Choose one" } %></div>
          </div>
        <% end -%>
      <% end -%>
    <div class="row group padded"><%= submit_tag "Submit" %></div>
<% end %>
