<%= form_for (@user ||= User.new(:creator_id => current_user.id)), :html => { :class => "formtastic", :id => "generator_form" } do |f| %>
    <% if @user.errors.any? %>
      <div id="errorExplanation">
        <ul id='error_messages'>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag :questionnaire_id, @questionnaire.id  if @questionnaire%>
      <%= f.hidden_field :creator_id %>
      <p>User will be added with the role of respondent.</p>
      <fieldset>
        <ol>
          <li>
            <%= f.label :first_name %> <%= f.text_field :first_name %>
          </li>
          <li>
            <%= f.label :last_name %> <%= f.text_field :last_name %>
          </li>
          <li>
            <%= f.label :language%> <%= select :user, :language, [["English","en"], ["French","fr"], ["Spanish","es"]], {:include_blank => true }  %>
          </li>
          <li>
            <%= f.label :email%> <%= f.text_field :email %>
          </li>
          <li> <%= f.label :country, t('generic.country') %> <%= f.text_field :country %></li>
          <li> <%= f.label :region, t('generic.region') %> <%= f.text_field :region %></li>
          <li>
            <%= f.label :category, t("generic.category")%>
            <br><br>
            <label class="radio">
              <%= f.radio_button :category, "Management Authority" %>
              <%= t("generic.management")%>
            </label><br>
            <label class="radio">
              <%= f.radio_button :category, "Scientific Authority" %>
              <%= t("generic.scientific")%>
            </label><br>
            <label class="radio">
              <%= f.radio_button :category, "Other" %>
              <%= t("generic.other")%>
            </label><br>
          </li>
          <li>
            <%= f.label :password %> <%= f.password_field :password %>
          </li>
          <li>
            <%= f.label :password_confirmation%> <%= f.password_field :password_confirmation %>
          </li>
          <%#<% if @questionnaire && @questionnaire.filtering_fields%>
              <%#@questionnaire.filtering_fields.each do |filtering_field| %>
                  <%#<li>%>
                    <%#<%= label_tag "#{h(filtering_field.name)}"  %>
                    <%#[>= select_tag "filtering_field["+filtering_field.id.to_s+"]", options_from_collection_for_select(filtering_field.source(@questionnaire), :id, :item_name), :prompt => "Please select your "+filtering_field.name.to_s  <]%>
                    <%#<%= collection_select("filtering_field", filtering_field.id, filtering_field.get_unique_loop_item_names, :to_s, :to_s, {:prompt => "Select one that applies to the user"}, { :validate => "{required:true}"} ) %>
                  <%#</li>%>
              <%#<% end %>
          <%#<% end %>
          <% if current_user && current_user.role?(:admin) -%>
              <div class="clear">
                <p>Roles</p>
                <ul>
                  <% for role in Role.all %>
                    <li>
                      <label><%=h role.name.titleize %></label>
                      <%= check_box_tag("user[role_ids][]", role.id) %>
                    </li>
                  <% end -%>
                </ul>
              </div>
          <% end -%>
        </ol>
        <%= render partial: 'respondents' %>
      </fieldset>
      <p><%= f.submit "Register" %></p>
  <% end -%>
