<h1>Add list of users</h1>
<div class="span-24 last" id="content">
  <div id="content_header">
    <% info_tip_text = "<p>From this page one can upload a list of users to be added to the system. <br />This list of users must be a CSV file with a user definition per line with the different attributes of the user separated by commas.<br /><br /> <strong>The file should not have a header row i.e. the file should start with the values.</strong><br /><br />Each line should have the following attributes in <strong>exactly the following order</strong>: <br/><br />First name, Last name, email, password, language (for example 'en' for English), group (a group the users belongs to). If you don't provide a password the default password is 'new_user_password'.</p>" %>
    <%= render :partial => "administration/menu", :locals => {:header => "Add list of users " + info_tip("Add List of Users", info_tip_text), :include_options => nil} -%>
  </div>
  <%= form_tag upload_list_users_path, :multipart => true do %>
    <p>To add a list of users a csv (separated by commas) file of user details need to be uploaded. The file should not contain any header information and should be of the following format, separated by commas (CSV format). Find out more about the <%= link_to 'required formatting of the CSV file on our Support Centre', "http://orssupport.unep-wcmc.org/kb/article/4-manage-respondents", target: '_blank' %>.</p>

    <p>All users will be initially added in the role of respondent.</p>

    <p>
      <fieldset>
        <ul>
          <li>
            <%= check_box_tag :send_welcome_email %>
            Check this box to send new users an email notification that they have been added.
          </li>
          <li>
            <p>Please choose a file</p>
            <%= file_field_tag "list_of_users" %>
          </li>
        </ul>
      </fieldset>
    </p>
    <p><%= submit_tag "Upload" %></p>
  <% end -%>
</div>
