$(function() {
    var $user_dialog = $("#user_dialog");
    <% if @user.id %>
        $user_dialog.dialog("close"); //close the dialog!!
        //append the new user to the table
        <% if @questionnaire %>
            var $myTable = $("#myTable");
            $myTable.prepend("<tr id='row_<%=@user.id.to_s%>'>" +
                                  "<td><%= escape_javascript( check_box_tag "users["+@user.id.to_s+"]", @user.id.to_s, false, {:class => "checkboxes"} ) %></td>" +
                                  "<td id='auth_<%=@user.id.to_s%>'>No</td>"+
                                  "<td><%= escape_javascript( link_to h(@user.full_name), user_path(@user))%></td>"+
                                  "<td><%= escape_javascript(mail_to @user.email, h(@user.email))%></td>"+
                                  "<td id='groups_<%=@user.id.to_s%>' class='user_groups'></td>"+
                                  "</tr>");
            $myTable.trigger("update"); //tell the table that it has been updated
            $myTable.trigger("sorton",[[]]); //remove the sorting
        <% else %>
            var $users_index = $("#users_index");
            var info_tooltip =
              "<div class='information-tooltip hide'>" +
                "<p><strong>Email</strong></p> <%= @user.email %> " +
                "<p><strong>Country</strong></p> <%= @user.country %> " +
                "<p><strong>Region</strong></p> <%= @user.region %> " +
                "<p><strong>Created by</strong></p> <%= escape_javascript(raw @user.creator ? "#{link_to h(@user.creator.full_name), user_path(@user.creator)}" : "None") %> " +
                "<p><strong>Category</strong></p> <%= @user.category.presence || "Other" %> " +
              "</div>";
            $users_index.prepend("<tr id='row_<%=@user.id.to_s%>'>" +
                                  "<td><%= escape_javascript( check_box_tag "users["+@user.id.to_s+"]", @user.id.to_s, false, {:class => "checkboxes"} ) %></td>" +
                                  "<td><%= escape_javascript(link_to h(@user.full_name), user_path(@user)) %></td>"+
                                  "<td><%= @user.created_at.strftime("%d/%m/%Y") %></td>"+
                                  "<td><%= @user.roles.map(&:name).join(', ') if @user.roles.present? %></td>"+
                                  "<td id='groups_<%=@user.id.to_s%>' class='user_groups'></td>"+
                                  "<td>"+
                                    info_tooltip +
                                    "<a href='#' class='information-tooltip-trigger'><%= escape_javascript(fa_icon 'align-left') %> details</a> | <%= escape_javascript(link_to "view", @user) %>" +
                                  " | <%= escape_javascript(link_to "delete", delete_user_path(@user)) if !@user.role?(:admin) %>" +
                                  "</td>" +
                                  "</tr>")
                        .trigger("update") //tell the table that it has been updated
                        .trigger("sorton",[[]]); //remove the sorting
        <% end %>
        $("#row_<%=@user.id.to_s%>").effect("highlight", {color: "blue"}, 3000 ); //highlight the added row
        <% @user = nil %> //reset the form completely. @user is nil, so it will create a new user.
        $("#form_user").remove();
        $user_dialog.append("<%= escape_javascript(render :partial => 'users/new') %>");
    <% else %>
        $("#form_user").remove();
        $user_dialog.append("<%= escape_javascript(render :partial => 'users/new') %>");
    <% end %>
});
