<div class="span-24 last" id="content">
  <%= render 'users/options' %>

  <div class="page-header">
    <h2><%= t("user_edit.title") %></h2>
  </div>

  <div id="user_form">
    <%= form_for @user, :html => { :class => "normal formtastic", :id => "generator_form"} do |f| -%>
        <% if @user.errors.any? %>
          <div id="errorExplanation">
            <ul id='error_messages'>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <fieldset>
            <div class="row padded">
              <div class="col col-5"><%= f.label :first_name, t("user_edit.first_n") %></div>
              <div class="col col-7 border-left"><%= f.text_field :first_name%></div>
            </div>

            <div class="row padded">
              <div class="col col-5"><%= f.label :last_name, t("user_edit.last_n") %></div>
              <div class="col col-7 border-left"><%= f.text_field :last_name %></div>
            </div>

            <div class="row padded">
              <div class="col col-5"><%= f.label :language, t("generic.language") %></div>
              <div class="col col-7 border-left"><%= select :user, :language, [["English","en"], ["Français","fr"], ["Español","es"]]  %></div>

            </div>

            <div class="row padded">
              <div class="col col-5"><%= f.label :email, t("generic.email")%></div>
              <div class="col col-7 border-left"><%= f.text_field :email %></div>
            </div>

            <div class="row padded">
              <div class="col col-5"><%= f.label :country, t("generic.country") %></div>
              <div class="col col-7 border-left"><%= f.text_field :country %></div>
            </div>

            <div class="row padded">
              <div class="col col-5"><%= f.label :region, t("generic.region") %></div>
              <div class="col col-7 border-left"><%= f.text_field :region %></div>
            </div>

            <div class="row padded">
              <div class="col col-5"><%= f.label :category, t("generic.category")%></div>
              <div class="col col-7 border-left">
                <label id="radio">
                  <%= f.radio_button :category, "Management Authority" %>
                  <%= t("generic.management")%>
                </label>
                <label id="radio">
                  <%= f.radio_button :category, "Scientific Authority" %>
                  <%= t("generic.scientific")%>
                </label>
                <label id="radio">
                  <%= f.radio_button :category, "Other" %>
                  <%= t("generic.other")%>
                </label>
              </div>
            </div>

            <div class="row padded">
              <div class="col col-5"><%= f.label :password, t("generic.password") %></div>
              <div class="col col-7 border-left"><%= f.password_field :password, autocomplete: 'off' %></div>
            </div>

            <div class="row padded">
              <div class="col col-5"><%= f.label :password_confirmation, t("generic.password_c")%></div>
              <div class="col col-7 border-left"><%= f.password_field :password_confirmation %></div>
            </div>

            <% if current_user.role?(:admin)-%> <!--a user loop_item_types are filtering fields from some questionnaire-->
            <% if @user.available_questionnaires %>
            <p><%= t("generic.select_filter")%></p>
                <table class="user_table">
                    <thead>
                      <tr>
                        <th><%= t("generic.questionnaire") %></th>
                        <th><%= t("generic.filtering_fields") %></th>
                        <th><%= t("generic.value") %></th>
                      </tr>
                    </thead>
                    <tbody>
                       <% @user.available_questionnaires.each do |questionnaire| -%>
                            <% questionnaire.filtering_fields.each do |filtering_field| -%>
                        <tr>
                          <td><%= questionnaire.title%></td>
                          <td><%= h(filtering_field.name)%></td>
                          <% selected_item = selected_loop_item(filtering_field.id ,@user.id) -%>
                          <td width="25%"><%= collection_select("filtering_field", filtering_field.id, filtering_field.get_unique_loop_item_names, :to_s, :to_s, {:prompt => "Select one that applies to the user", :selected => selected_item ? selected_item : ""}) %></td>
                        </tr>
                         <% end -%>
                      <% end -%>
                    </tbody>
                  </table>
              <% end -%>
              <%= render "roles" %>
            <% else -%>
                <div>
                  <label>Roles</label>
                  <div>
                    <% current_user.roles.each do |role| %>
                      <li><%= role.name.titleize %></li>
                    <% end %>
                  </div>
                  <%#= f.hidden_field :role_ids, :value => role.id %>
                </div>
            <% end -%>

        </fieldset>
        <p><%= f.submit t("generic.update") %></p>
    <% end -%>
  </div><!-- /user_form -->
</div><!-- /content -->
