<div class="span-24 last user_profile" id="content">
  <%= render :partial => "users/options" %>
  <h2><%= t("user_show.details")%></h2>
  <table>
    <tbody>
      <tr>
        <th width="10%"><%= t("generic.name") %>:</th>
        <td><%=h @user.full_name %></td>
      </tr>
      <tr>
        <th><%= t("generic.language") %>:</th>
        <td><%=h @user.language_full_name %></td>
      </tr>
      <tr>
        <th><%= t("generic.email") %>:</th>
        <td><%=h @user.email %></td>
      </tr>
      <tr>
        <th><%= t("generic.country") %>:</th>
        <td><%=h @user.country %></td>
      </tr>
      <tr>
        <th><%= t("generic.region") %>:</th>
        <td><%=h @user.region %></td>
      </tr>
      <tr>
        <th><%= t("generic.category") %>:</th>
        <td><%=h (@user.category.present? ? @user.category : "Other") %></td>
      </tr>
      <% if current_user.role?(:admin) %>
        <tr><th>Roles:</th>
          <td><%= @user.roles.map{|r| r.name.titleize}.join(", ")%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!--
  <%# @user.available_questionnaires.each do |questionnaire| -%>
      <%# questionnaire.filtering_fields.each do |field| -%>
          <p><strong><%#= "#{h(field.name)} #{info_tip "Questionnaire", questionnaire.title}"%>: </strong> <%#= @user.get_filtering_field_value(field) %></p>
      <%# end -%>
  <%# end -%>

  -->
  <a style="font-weight:600; font-size:14px" id="toggle_help" href="#">
    Filtering fields
  </a>
  <div id="help_div" style="display: none">
  <table class="user_table">
    <thead>
      <tr>
        <th><%= t("generic.questionnaire") %></th>
        <th><%= t("generic.filtering_fields") %></th>
        <th><%= t("generic.value") %></th>
      </tr>
    </thead>
    <tbody>
       <% @user.available_questionnaires.each do |questionnaire| -%>
            <% questionnaire.filtering_fields.each do |field| -%>
        <tr>
          <td><%= questionnaire.title%></td>
          <td><%= h(field.name)%></td>
          <td><%= @user.get_filtering_field_value(field) %></td>
        </tr>
         <% end -%>
      <% end -%>
    </tbody>
  </table>
  </div>

  <% unless @user.available_questionnaires.empty? %>
      <hr />
      <div class="span-24 last" id="questionnaires">
        <%= render :partial => "home/submission", :locals => {
          :questionnaires => @user.available_questionnaires } %>
      </div><!-- /questionnaires -->
  <% end %>
</div><!-- /content -->
