<div class="span-24 last" id="content" style="display: block">
  <% if current_user %>
    <%= render :partial => "users/options" %>
    <h1><%= t("user_dashboard.welcome_msg")%> <%= h(current_user.full_name)%>
      <% if current_user.role?(:admin) -%>
        <div style="font-size:40%;"><%=link_to "Administration dashboard", administration_path %></div>
      <% end -%>
    </h1>
    <!-- Tabulizing the output -->
    <div class="span-24 last">
      <% if @questionnaires.present? %>
        <%= render :partial => 'submission' %>
      <% else %>
        <p><%= t("user_dashboard.no_q") %></p>
      <%end-%>
    </div>
  <% else %>
    <h3><%= t("user_dashboard.welcome_msg")%></h3>
    <p><%= t("welcome_page.restriction")%></p>
    <div class="span-11 colborder">
      <h4><%= t("welcome_page.please_login")%></h4>
      <%= render :partial => "user_sessions/new" %>
    </div>
    <div class="span-12 last">
      <h4><%= t("welcome_page.or_signup")%></h4>
      <p><%= t("welcome_page.signup_instructions1")%></p>
      <p><%= t("welcome_page.signup_instructions2")%> <%= link_to t("welcome_page.signup_instructions3"), signup_path(:lang => (params[:lang]||"en")) %>.</p>
    </div>
  <% end %>
  <%= render :partial => "layouts/institutions" %>
</div><!-- /content -->
