<% is_root_section = (@questionnaire_part && @questionnaire_part.root?) || (@section && @section.questionnaire_part.root? ) %>
<li>Add section fields information in the following languages (click to display the fields):</li>
<li>
  <%= f.object.section_fields.sort_by{ |a| a.is_default_language? ? 0 : 1 }.
    map{|field| "<a href='#' class='display_lang btn' id='sect_#{field.language}'>#{field.language_english_name} #{field.is_default_language? ? "<i class='fa fa-caret-up'></i>" : "<i class='fa fa-caret-down'></i>" }</a> " }.
    join(" | ").html_safe %>
  <a href="#" class="show_all_lang_fields btn">Expand all</a>
  <a href="#" class="hide_all_lang_fields btn">Collapse all</a>
</li>
<li>
  <%= f.fields_for :section_fields, f.object.section_fields.sort_by{ |a| a.is_default_language? ? 0 : 1 } do |builder| %>
      <div class="<%= builder.object.is_default_language? ? "" : "hide"%> lang_fields" id="fields_for_sect_<%= builder.object.language %>">
        <fieldset>
          <div class="page-header">
            <h5><%=h builder.object.language_english_name %></h5>
          </div>
          <%= builder.hidden_field :language, :value => builder.object.language %>
          <%= builder.hidden_field :is_default_language, :value => builder.object.is_default_language  %>

              <div class="row padded">
                <div class="col col-4"><%= builder.label :tab_title, "Short title #{builder.object.is_default_language? ? "*": ""}" %></div>
                <div class="col col-8 border-left"><%= builder.text_area :tab_title, :rows => 2, :cols => 55, :dir => builder.object.language == "ar" ? "rtl" : "ltr", :class => "grow section_title tab-title", :minlength => "2", :validate => "#{builder.object.is_default_language? ? "{required:true, messages:{required:'The tab title in #{builder.object.language_english_name} is required'}}":"" }" %></div>
              </div>

            <div class="row padded">
              <div class="col col-4">Use short title</div>
              <div class="col col-8 border-left"><input type="checkbox" class="use-tab-title"></div>
            </div>

            <div class="row padded">
              <div class="col col-4"><%= builder.label :title, "Full title #{builder.object.is_default_language? ? "*": ""}" %></div>
              <div class="col col-8 border-left">
                <%= builder.text_area :title, :rows => 2, :cols => 55, :dir => builder.object.language == "ar" ? "rtl" : "ltr", :class => "section_title tinymce copy", :minlength => "2", :validate => "#{builder.object.is_default_language? ? "{required:true, messages:{required:'The title in #{builder.object.language_english_name} is required'}}":"" }"%>
              </div>
            </div>

            <div class="row padded">
              <div class="col col-4"><%= builder.label :description, t("generic.description") %></div>
              <div class="col col-8 border-left description-area"><%= builder.text_area :description, :rows => 2, :cols => 55, :dir => builder.object.language == "ar" ? "rtl" : "ltr", :class => "tinymce object_description" %></div>
            </div>

        </fieldset>
      </div>
  <% end %>
</li>
<hr class="grey">
<div class="row padded">
  <div class="col col-4"><%= f.label :is_hidden %></div>
  <div class="col col-8 border-left"><%= f.check_box :is_hidden %></div>
</div>
<div class="row padded">
  <div class="col col-4"><%= f.label :starts_collapsed %></div>
  <div class="col col-8 border-left"><%= f.check_box :starts_collapsed %></div>
</div>
<div class="row padded">
  <div class="col col-4">
    <%= f.label :display_in_tab, ("Display in tab " + info_tip("Display in tab", "<p>On the submission page of a questionnaire the root sections of the questionnaire are displayed in a tab menu on the left side of the page.
                                This options allows you to have sub sections being displayed in that menu as well, as long as they are not looping sections, are not descendants of looping sections and the maximum level defined is respected.</p>
                                <p>The maximum level is defined when you create or edit your questionnaire. And it represents the level of nesting up to which a section can be set to be displayed in the tab menu.</p>")).html_safe %>
  </div>
  <% the_object = is_root_section ? nil : (@questionnaire_part.present? ? @questionnaire_part.parent.part : @section)%>
  <div class="col col-8 border-left">
    <%= f.check_box :display_in_tab, :disabled => (the_object.present? ? !the_object.children_can_be_displayed_in_tab? : true), :checked => (is_root_section || f.object.display_in_tab?) %>
  </div>
</div>
<div class="row padded">
  <div class="col col-4"><%= f.label :section_type, "Section Type *" %></div>
  <div class="col col-8 border-left"><%= f.collection_select :section_type, SectionType.to_a, :last, :first, {:prompt => true, :selected => f.object.section_type || SectionType::REGULAR}, :validate => "{required:true, messages:{required:'Please select a section type'}}"%></div>
</div>
