<div class="span-15 colborder" id="show_section">
  <div id="show_pages">
    <% @section.section_fields.sort_by{ |a| a.is_default_language? ? 0 : 1 }.each do |field| -%>
        <div class="span-15 last">
          <div class="span-10 section-title">
            <h4><%= raw Sanitize.clean(field.tab_title.present? ? field.tab_title : ( field.title.present? ? field.title : "#Not specified#" )) %></h4>
          </div>
          <%= render_delete_button("section", @section.questionnaire, section_path(@section)) if field.is_default_language? %>
          <div class="language">
            <div class="language-header info-toggle-header">
              <hr class="grey no-margin-bottom">
              <div class="row flex border-bottom">
                <div class="col col-3 language-name">
                  <%= language_angle_icon(field) %>
                  <%=h "#{field.language_english_name} / #{field.language_full_name}" %>
                </div>
                <%= default_language_tag if field.is_default_language? %>
                <div class="col toggle-info-container">
                  <a href="#" class="toggle-info">
                    <%= field.is_default_language? ? "Hide" : "Show" %>
                  </a>
                </div>
              </div>
            </div>

            <div class="language-content info-content <%= field.is_default_language? ? "" : "hidden-content" %>">
              <% title =  strip_tags(Sanitize.clean((field.title.present? ? field.title : "#Not specified#" ), OrtSanitize::Config::ORT)) %>
              <%= content_field("Title", title) %>

              <% description = strip_tags(Sanitize.clean(field.description.present? ? field.description : "#Not specified#", OrtSanitize::Config::ORT)) %>
              <%= content_field(t("generic.description"), description) %>

              <%= content_field("Section Type", @section.section_type_humanize) %>

              <% submission_view = @section.starts_collapsed? ? "collapsed" : "expanded" %>
              <%= content_field("Submission view", submission_view) %>

              <% if @section.is_hidden? -%>
                  <p><strong>Hidden section</strong><%= info_tip "Hidden Section", "The section title and description will not be displayed in the submission view because the section is set to be hidden." %></p>
              <% end -%>
              <div id="dependency">
                <% if @section.depends_on_option -%>
                    <p>
                      <strong>Dependent Section</strong><%= info_tip "Dependent Section", "This section <strong>depends</strong> on the option
                      <strong>#{h @section.depends_on_option.multi_answer_option_fields.find_by_is_default_language(true).option_text}</strong> being
                      <strong>#{@section.depends_on_option_value? ? "selected" : "not selected"}</strong>, for question
                      <strong>#{link_to h(@section.depends_on_question.title), question_path(@section.depends_on_question), :class => :get}</strong> of
                      section <strong>#{link_to h(@section.depends_on_question.section.title), section_path(@section.depends_on_question.section)} </strong>." %>
                      (<%= link_to "Delete", unset_dependency_section_path(@section), :method => :delete, :confirm => "Are you sure you want to delete the dependency relation of this section?"%>)
                    </p>
                <% end -%>
              </div><!-- /dependency -->
            </div><!-- /main_info -->
            <div class="span-8 last">
              <% if @section.section_type == 1 -%>
                  <h5>
                    <%=h @section.answer_type_type.titleize %>
                  </h5>
                  <div id="show_answer_type">
                    <h4>Answer Type Details</h4>
                    <%= render :partial => "#{@section.answer_type_type.underscore}s/show", :locals => {:answer_type => @section.answer_type, :language => field.language} -%>
                  </div><!-- /show_answer_type -->
              <% elsif @section.looping? && @section.loop_source-%>
                  <p>
                    <strong>Looping Source:</strong> <%= link_to h(@section.loop_source.name), loop_source_path(@section.loop_source) %>
                  </p>
                  <% if @section.loop_item_type && @section.loop_item_type.is_filtering_field? -%>
                      <p><strong>Filtering by:</strong>
                      <%= link_to h(@section.loop_item_type.name), loop_item_type_path(@section.loop_item_type) %>
                      as
                      <%= link_to h(@section.loop_item_type.filtering_field.name), questionnaire_filtering_field_path(@section.questionnaire, @section.loop_item_type.filtering_field) %></p>
                  <% else -%>
                      <p><strong>Looping through:</strong> <%= link_to h(@section.loop_item_type.name), loop_item_type_path(@section.loop_item_type) %></p>
                  <% end -%>
              <% end -%>
            </div><!-- /extra_details -->
          </div><!-- /info -->
        </div>
      </div>
    <% end  -%>
  </div> <!-- /show pages -->
  <div id="add_section" class="span-15 colborder hide"></div><!-- /add_section -->
  <div id="add_question" class="span-15 colborder hide"></div><!-- /add_question -->

  <div class="download-csv-container">
    <% if @section.csv_file.present? && File.file?(@section.csv_file.location) -%>
      <i class="fa fa-download"></i>
      <%= link_to "CSV (#{File.mtime(@section.csv_file.location).strftime('%H:%M %b %d, %Y')})", download_csv_section_path(@section), class: 'download-csv' %>
      Regenerate CSV:
      <%= link_to "Comma separated", to_csv_section_path(@section, :separator => ','), :class => "get btn" %>
      <%= link_to "Semicolon separated", to_csv_section_path(@section, :separator => ';'), :class => "get btn" %>
    <% else -%>
      Generate CSV:
      <%= link_to "Comma separated", to_csv_section_path(@section, :separator => ','), :class => "get btn" %>
      <%= link_to "Semicolon separated", to_csv_section_path(@section, :separator => ';'), :class => "get btn" %>
    <% end -%>
  </div>
</div><!-- /show_section -->
