$(function(){
    <%- flash.each do |name, msg| -%>
        flash_message("<%=h name%>", "<%=h msg %>");
        <%- flash.delete(name) -%>
    <%- end -%>
    $("#add_document").dialog("close");
    <% if @success -%>
        var $this_doc_list = $("#docs_list_<%= @answer.question.id.to_s + (@answer.looping_identifier ? "_#{@answer.looping_identifier}" : "")%>");
        if($this_doc_list.length == 0)
        {
            $("#answer_doc_<%= @answer.question.id.to_s + (@answer.looping_identifier ? "_#{@answer.looping_identifier}" : "")%>").prepend("<div id='docs_list_<%= @answer.question.id.to_s + (@answer.looping_identifier ? "_#{@answer.looping_identifier}" : "")%>'><p><%= t('submission_pages.files_you_have') %></p>" +
                                                            "<ul></ul></div>");
            $this_doc_list = $("#docs_list_<%= @answer.question.id.to_s + (@answer.looping_identifier ? "_#{@answer.looping_identifier}" : "")%>");
        }
        var el = $("#docs_list_<%= @answer.question.id.to_s + (@answer.looping_identifier ? "_#{@answer.looping_identifier}" : "")%>").find("ul");
        el.children().remove();
        <% @answer.documents.each do |document| -%>
            <% if document.doc_file_name.present? -%>
              el.prepend("<li><%= escape_javascript( (link_to h(document.doc_file_name), document.doc.url)+ "#{if document.description? then ": " +h(document.description) end}") %></li>");
            <% end -%>
        <% end -%>
        if(el.children().length == 0)
            $this_doc_list.remove();
        else
            el.effect("highlight",{}, 2000);
    <% end -%>
});
