<%= render "users/options" %>
<div class="span-24 last" id="content" style="display: block">
  <h2><%=t('user_dashboard.welcome_msg')%> <%= h(@delegate.full_name)%></h2>
  <div class="span-24 last">
    <% if @delegated_tasks.present? -%>
      <div class="row group padded">
        <%= t('delegate_dashboard.title')%>:
      </div>
      <div id="q_dashboard">
        <% @delegated_tasks.each do |delegation| -%>
          <div class="row group padded">
            <%= cannot_submit_message(delegation.questionnaire) %>
            <strong><%=t('generic.questionnaire')%>: </strong><%= link_to h(delegation.questionnaire.title), submission_questionnaire_path(delegation.questionnaire, user_delegate: delegation.user_delegate_id) %>
          </div>
          <div class="row group padded">
            <strong><%=t('generic.delegator')%>: </strong> <%= h delegation.user.full_name %>
          </div>
          <div class="row group padded">
            <strong><%=t('delegate_dashboard.delegator_remarks')%>: </strong><%= delegation.remarks.present? ? h(delegation.remarks) : "-" %>
          </div>
          <strong><%=t('generic.details')%>: </strong>
          <% if delegation.sections.present? -%>
            <%= pluralize(delegation.sections.count, "section")%> <%= t('delegate_dashboard.to_fill') %> <a href="#" id="show_details_<%= delegation.id %>">Show</a>
          <% else -%>
            <%= t('delegate_dashboard.fill_all') %>
          <% end -%>
          </p>
          <% if delegation.sections.present? %>
            <div id="delegation_details_<%= delegation.id %>" class="hide">
              <table>
                <thead>
                  <tr>
                    <th><%= t('generic.section')%></th>
                    <th><%= t('delegation_details.root_section_th')%></th>
                    <th><%= t('delegation_details.loop_th')%></th>
                  </tr>
                </thead>
                <tbody>
                  <% delegation.delegation_sections.each do |delegation_section| -%>
                    <tr>
                      <td><%= strip_tags(OrtSanitize.white_space_cleanse(delegation_section.section.value_in((delegation_section.section.root? ? :tab_title : :title), current_user.language))) %></td>
                      <td><%= strip_tags(OrtSanitize.white_space_cleanse(delegation_section.section.root.value_in(:tab_title, current_user.language)))%></td>
                      <td><%= delegation_section.loop_item_names.map{|loop_item_name| h(loop_item_name.item_name(current_user.language))}.join(', ') %></td>
                    </tr>
                  <% end -%>
                </tbody>
              </table>
            </div>
          <% end -%>
          <hr />
        <% end -%>
      </div>
    <% else -%>
      <p><%=t('delegate_dashboard.no_tasks')%></p>
    <% end -%>
  </div>
</div><!-- /content -->
<script type="text/javascript">
    <% @delegated_tasks.each do |delegation| -%>
        <% if delegation.sections.present? %>
            $("#show_details_<%= delegation.id %>").click(function(e){
               e.preventDefault();
                $("#delegation_details_<%= delegation.id %>").toggle('slow');
            });
        <% end -%>
    <% end -%>
</script>
