<fieldset>
  <legend>Basic Info</legend>
  <%= f.fields_for :questionnaire_fields, @questionnaire.questionnaire_fields.build do |field| %>
    <%= field.hidden_field :is_default_language, :value => true  %>
    <ol>
      <div id="default_language">
        <li>
          <%= field.label :language, "Default language *" %>
          <%= field.select :language, [["Arabic","ar"], ["Chinese","zh"], ["English","en"], ["French","fr"], ["Russian","ru"], ["Spanish","es"]], {:include_blank => "Choose one language for this questionnaire" }, :class => "language_select", :validate => "{required:true, messages:{required:'Please choose the default language for the questionnaire'}}" -%>
        <p class="inline-hints">Choose the questionnaire's main language.</p>
        </li>
        <li>
          <%= field.label :title, "Title *" %>
          <%= field.text_area :title, :rows => 2, :cols => 55, :class => "questionnaire_name required", :minlength => "2", :validate => "{required:true, messages:{required:'Please write a title in the default language of the questionnaire'}}", :class => "grow" %>
        <p class="inline-hints">Give a title to this questionnaire.</p>
        </li>
        <li>
          <%= field.label :introductory_remarks, "Introductory remarks *" %>
          <%= field.text_area :introductory_remarks, :rows => 5, :cols => 55, :class => "tinymce" %>
        <p class="inline-hints">Introductory information to help respondents understand the questionnaire purpose.</p>
        </li>
      </div>
    </ol>
  <% end %>
  <p>
    <a href="#" id="show_more_languages" class="add_languages_buttons">Add other languages to the questionnaire</a>
    <a href="#" id="hide_more_languages" class="add_languages_buttons hide">Remove extra languages</a>
  </p>
  <div id="more_languages" class="hide">
    <%= f.fields_for :questionnaire_fields do |field| %>
      <% if field.object.language.present? %>
      <div id="field_<%= field.object.language %>" class="extra_lang_div">
        <fieldset>
          <ol>
            <li class="extra_langs">
              <%= field.hidden_field :_destroy, :value => 1 -%>
              <%= check_box_tag "include_"+ field.object.language, nil, false, :class => "include_check_box" %>
            <label for="language" class="language_tag">
              <%=h field.object.language_english_name %>
            </label>
              <%= field.hidden_field :language, :value => field.object.language %>
            </li>
            <li class="extra_langs">
              <%= field.label :title %>
              <%= field.text_area :title, :rows => 2, :cols => 55, :dir => field.object.language == "ar" ? "rtl" : "ltr", :validate => "{required:\"#include_#{field.object.language}:checked\", messages:{required:'The title in #{field.object.language_english_name} is required'}}", :class => "grow" %>
              </li>
            <li class="extra_langs">
              <%= field.label :introductory_remarks, "Introductory remarks" %>
              <%= field.text_area :introductory_remarks, :rows => 5, :cols => 55, :class => "tinymce", :validate => "{required:\"#include_#{field.object.language}:checked\", messages:{required:'The introductory remarks in #{field.object.language_english_name} are required'}}" %>
            </li>
          </ol>
        </fieldset>
      </div>
    <% end %>
  <% end %>
  </div>
</fieldset>
<fieldset>
  <legend>Extra Info</legend>
  <ol>
    <li>
      <%= f.label :questionnaire_date %>
      <%= date_select :questionnaire, :questionnaire_date, :default => Date.today, :start_year => 1995, :order => [ :month, :year ], :prompt => true -%>
    </li>
    <li>
      <%= f.label :administrator_remarks, "Administrator Remarks" %>
      <%= text_area :questionnaire, :administrator_remarks, { :rows => 5, :cols => 55, :class => "tinymce" } %>
    </li>
    <li>
      <%= f.label :header, ("Header #{info_tip("Header", "The header banner dimensions should be 940px per 90px. The format should be either JPEG or PNG, and the file should not be more than five megabytes.")}").html_safe %>
      <%= f.file_field :header %>
    </li>
    <li>
      <%= f.label :display_in_tab_max_level, ("Section maximum tab display level " + info_tip("Section maximum tab display level", "Specifies the level of nesting up to which a section can be set to be displayed in the left tab menu of the submission side, together with the root sections. Default is 3.")).html_safe %>
      <%= f.text_field :display_in_tab_max_level, :value => 3, :validate => 'number:true' %>
    </li>
    <li>
      <%= f.label :delegation_enabled, ("Questionnaire delegation feature enabled? #{info_tip("Delegation", "If this is enabled then the respondents will have the ability to assign respondents to sections for this questionnaire.")}").html_safe %>
      <%= f.check_box :delegation_enabled %>
    </li>
    <li>
      <%= f.label :translator_visible, ("Display translator for text type answers #{info_tip("Translation","If this is enabled then the respondents will have the ability to translate text-type answers in the questionnaire into the default language of the questionnaire.")}").html_safe %>
      <%= f.check_box :translator_visible %>
    </li>
    <li>
      <%= f.label :private_documents, ("Documents attached to answers are private?  #{info_tip("Attached documents","If this is enabled then the PDFs that are generated will not allow documents to be downloadable by users that are not registered in the system. If you want documents that are part of the questionnaire to be downloaded, then leave this unticked.")}").html_safe %>
      <%= f.check_box :private_documents %>
    </li>
    <li>
      <%= f.label :help_pages, "Name of the help page" %>
      <%= f.text_field :help_pages %>
    </li>
  </ol>
</fieldset>
