<fieldset>
  <%= f.fields_for :questionnaire_fields, @questionnaire.questionnaire_fields.build do |field| %>
    <%= field.hidden_field :is_default_language, :value => true  %>
      <div class="row padded">
        <div class="col col-4"><%= field.label :language, "Default language *" %></div>
        <div class="col col-8 border-left">
          <%= field.select :language, [["Arabic","ar"], ["Chinese","zh"], ["English","en"], ["French","fr"], ["Russian","ru"], ["Spanish","es"]], {:include_blank => "Choose one language for this questionnaire" }, :class => "language_select", :validate => "{required:true, messages:{required:'Please choose the default language for the questionnaire'}}" -%>
        </div>
      </div>

      <div class="row padded">
        <div class="col col-4"><%= field.label :title, "Title *" %></div>
        <div class="col col-8 border-left">
          <%= field.text_area :title, :rows => 2, :cols => 55, :class => "questionnaire_name required", :minlength => "2", :validate => "{required:true, messages:{required:'Please write a title in the default language of the questionnaire'}}", :class => "grow" %>
        </div>
      </div>

      <div class="row padded">
        <div class="col col-4">
          <%= field.label :introductory_remarks, "Introductory remarks *" %>
          <p class="hint">Introductory information to help respondents understand the questionnaire purpose.</p>
        </div>
        <div class="col col-8 border-left"><%= field.text_area :introductory_remarks, :rows => 5, :cols => 55, :class => "tinymce" %></div>
      </div>
    <% end %>

    <a href="#" id="show_more_languages" class="add_languages_buttons btn">Add other languages to the questionnaire</a>
    <a href="#" id="hide_more_languages" class="add_languages_buttons hide btn">Remove extra languages</a>


<div id="more_languages" class="hide">
  <%= f.fields_for :questionnaire_fields do |field| %>
    <% if field.object.language.present? %>
      <div id="field_<%= field.object.language %>" class="extra_lang_div">
        <fieldset>

          <div class="row padded">
            <div class="col col-4"><%=h field.object.language_english_name %></div>
            <div class="col col-8 border-left">
              <%= check_box_tag "include_"+ field.object.language, nil, false, :class => "include_check_box" %>
              <%= field.hidden_field :_destroy, :value => 1, class: "destroy-hidden-field" -%>
              <%= field.hidden_field :language, :value => field.object.language %>
            </div>
          </div>

          <div class="row padded">
            <div class="col col-4"><%= field.label :title %></div>
            <div class="col col-8 border-left">
              <%= field.text_area :title, :rows => 2, :cols => 55, :dir => field.object.language == "ar" ? "rtl" : "ltr", :validate => "{required:\"#include_#{field.object.language}:checked\", messages:{required:'The title in #{field.object.language_english_name} is required'}}", :class => "grow" %>
            </div>
          </div>

          <div class="row padded">
            <div class="col col-4"><%= field.label :introductory_remarks, "Introductory remarks" %></div>
            <div class="col col-8 border-left">
              <%= field.text_area :introductory_remarks, :rows => 5, :cols => 55, :class => "tinymce", :validate => "{required:\"#include_#{field.object.language}:checked\", messages:{required:'The introductory remarks in #{field.object.language_english_name} are required'}}" %>
            </div>
          </div>
        </fieldset>
      </div>
    <% end %>
  <% end %>
</div>
</fieldset>


<fieldset>
  <div class="page-header"><h5>Extra Info</h5></div>
  <div class="row padded">
    <div class="col col-4"> <%= f.label :questionnaire_date %></div>
    <div class="col col-8 border-left"> <%= date_select :questionnaire, :questionnaire_date, :default => Date.today, :start_year => 1995, :order => [ :month, :year ], :prompt => true -%></div>
  </div>

  <div class="row padded">
    <div class="col col-4"> <%= f.label :administrator_remarks, "Administrator Remarks" %></div>
    <div class="col col-8 border-left"> <%= text_area :questionnaire, :administrator_remarks, { :rows => 5, :cols => 55, :class => "tinymce" } %></div>
  </div>

  <div class="row padded">
    <div class="col col-4"> <%= f.label :header, ("Header #{info_tip("Header", "The header banner dimensions should be 940px per 90px. The format should be either JPEG or PNG, and the file should not be more than five megabytes.")}").html_safe %></div>
    <div class="col col-8 border-left"> <%= f.file_field :header %></div>
  </div>

  <div class="row padded">
    <div class="col col-4"> <%= f.label :display_in_tab_max_level, ("Section maximum tab display level " + info_tip("Section maximum tab display level", "Specifies the level of nesting up to which a section can be set to be displayed in the left tab menu of the submission side, together with the root sections. Default is 3.")).html_safe %></div>
    <div class="col col-8 border-left"> <%= f.text_field :display_in_tab_max_level, :value => 3, :validate => 'number:true' %></div>
  </div>

  <div class="row padded">
    <div class="col col-4"> <%= f.label :delegation_enabled, ("Questionnaire delegation feature enabled? #{info_tip("Delegation", "If this is enabled then the respondents will have the ability to assign respondents to sections for this questionnaire.")}").html_safe %></div>
    <div class="col col-8 border-left"> <%= f.check_box :delegation_enabled %></div>
  </div>

  <div class="row padded">
    <div class="col col-4"><%= f.label :enable_super_delegates, ("Super delegates feature enabled? #{info_tip("Super Delegation", "Unchecking this box will cause Super Delegates to behave as regular Delegates on this particular questionnaire.")}").html_safe %></div>
    <div class="col col-8 border-left"><%= f.check_box :enable_super_delegates %></div>
  </div>

  <div class="row padded">
    <div class="col col-4"> <%= f.label :translator_visible, ("Display translator for text type answers #{info_tip("Translation","If this is enabled then the respondents will have the ability to translate text-type answers in the questionnaire into the default language of the questionnaire.")}").html_safe %></div>
    <div class="col col-8 border-left"> <%= f.check_box :translator_visible %></div>
  </div>

  <div class="row padded">
    <div class="col col-4"><%= f.label :private_documents, ("Documents attached to answers are private?  #{info_tip("Attached documents","If this is enabled then the PDFs that are generated will not allow documents to be downloadable by users that are not registered in the system. If you want documents that are part of the questionnaire to be downloaded, then leave this unticked.")}").html_safe %></div>
    <div class="col col-8 border-left"><%= f.check_box :private_documents %></div>
  </div>

</fieldset>
