<div id="questionnaire_details">
  <div class="row padded word-break">
    <%= Sanitize.clean(@questionnaire.value_in(:introductory_remarks, @authorization[:language]) , OrtSanitize::Config::ORT).html_safe -%>
  </div>

  <div class="row padded group">
    <div class="col col-6 panel">
      <div class="page-header">
        <h5><%= t('generic.questionnaire_info') %></h5>
      </div>
      <p>
        <strong><%= t 's_details.default_lang' %>:</strong> <%=h @questionnaire.language_full_name %><br />
        <strong><%= t 's_details.available_lang' %>:</strong> <%= @questionnaire.questionnaire_fields.sort!{|a,b| a.language <=> b.language}.map{|a| a.language_full_name}.join(', ') %><br />
        <strong><%= t 's_details.year' %>:</strong> <%= @questionnaire.questionnaire_date.strftime('%Y') %>
      </p>
      <p><%= t 's_details.q_displayed_in' %>: <strong><%= @questionnaire.questionnaire_fields.map(&:language).sort!.include?(@authorization[:language]) ? @authorization[:language_full_name] : @questionnaire.language_full_name %></strong>
      <p><%= t 's_details.download_pdf' %> <%= link_to t('tab_details.dashboard'), root_url %></p>
      <% if @questionnaire.questionnaire_fields.size > 1 -%>
        <%= info_tip(t('s_help.lang_change_title'), t('s_help.lang_change_text')) %><br />
        <a href="#" id="change_lang">
          <% @questionnaire.questionnaire_fields.sort{|a,b| a.language <=> b.language}.map{|q| q.language}.each do |lang| %>
            <%= t('s_details.change_lang', {:locale => lang}) %><br />
          <% end %>
        </a>
      <% end -%>
      </p>
      <% if @questionnaire.questionnaire_fields.size > 1 -%>
          <div id="language_selection" class="clear hide">
            <%= form_tag({ :controller => :authorized_submitters, :action => :change_language }, :class => "formtastic" ) do -%>
                <%= hidden_field_tag :questionnaire_id, @questionnaire.id %>
                <p>
                  <%= select 'language', nil, options_for_select(@questionnaire.questionnaire_fields.sort!{|a,b| a.language <=> b.language}.collect{ |i| [i.language_full_name, i.language ] } ), { :include_blank => false }, { :validate => "{required:true}"} %>
                  <%= submit_tag t("s_details.change_button") %>
                </p>
            <% end -%>
          </div>
      <% end -%>
    </div>

    <div class="col col-6 panel">
      <div class="page-header">
        <h5><%= t("s_details.submission_guidance") %></h5>
      </div>
      <p>
        <% if @authorization[:status] == 2 -%>
            <span style="color: red;"><%= t 's_details.been_submitted' %></span>
        <% else -%>
            <% submit_help = @questionnaire.submit_info_tip(@authorization[:language]).present? ? @questionnaire.submit_info_tip(@authorization[:language]) : t("s_help.submit_text") %>
            <%= submit_help.html_safe %>
        <% end -%>
      </p>

      <p><%= t 's_details.fill_instructions' %></p>
    </div>
  </div>
</div>
