<div class="page-header">
  <h2>Manage Languages</h2>
</div>
<div class="span-24 last">
  <div id="content_header">
    <% info_tip_text = ("<p>In this page you can add, remove languages, and change the default language of the questionnaire.</p>
                    <p>You can do so by ticking the desired check boxes and choosing the default language with the radio button.</p>").html_safe -%>
    <%= render :partial => "administration/menu", :locals => {:header => ("Questionnaire's Languages " + info_tip('Questionnaire languages', info_tip_text)).html_safe, :include_options => "questionnaires"} -%>
  </div>
  <p class="clear">
    <strong>Questionnaire:</strong>
    <%= link_to @questionnaire.title, dashboard_questionnaire_path(@questionnaire) %>
  </p>
  <%= form_for @questionnaire, :as => :questionnaire,
    :url => update_languages_questionnaire_path(@questionnaire),
    :html => {:method => :post, :class => "formtastic normal", :id => "generator_form"} do |f| %>
      <div id="error_container" class="error_container">
        <h5>There are some errors in your form submission, please see details below</h5>
        <ul id="error_messages"></ul>
      </div>
      <fieldset>
        <p>Choose the languages of this questionnaire</p>
        <table>
          <thead>
          <tr>
            <th>Language</th>
            <th>Include</th>
            <th>Default <span style="color: red">*</span></th>
          </tr>
          </thead>
          <tbody>
          <%= f.fields_for :questionnaire_fields do |field| %>
            <% next if field.object.language == "zh" # Remove this line to reactivate chinese language %>
              <tr>
                <%= field.hidden_field :language, :value => field.object.language -%>
                <td><%= field.object.language_english_name %></td>
                <td>
                  <%= field.hidden_field :_destroy, :value => !field.object.new_record? ? 0 : 1 -%>
                  <%= check_box_tag "include_languages[#{field.object.language}]",
                    field.object.language,
                    !field.object.new_record?,
                    :class => "include_languages_check_box" %>
                </td>
                <td>
                  <%= field.hidden_field :is_default_language,
                    :value => field.object.is_default_language? ? true : false, :class => "default_language_hidden_fields" %>
                  <%= radio_button_tag "default_language",
                    field.object.language,
                    field.object.is_default_language?, :validate => "{required:true, messages:{required:'You must select a default language.'}}" %>
                </td>
              </tr>
          <% end -%>
          </tbody>
        </table>
        <p style="color:red;">Removing a language from the questionnaire will cause all the data that has been previously inputted in that language to be removed.</p>
        <%= f.submit "Save changes" %>
      </fieldset>
      <div class="error_container">
        <h5>There are errors in your form submission, please see details above the form!</h5>
      </div>
  <% end -%>
</div>
<script type="text/javascript">
    $(function(){
        $("input[type='checkbox'].include_languages_check_box").each(function(){
            $(this).change(function(){
                var hidden_field = $(this).prev("input[type='hidden']")[0];
                if($(this).is(':checked'))
                {
                    hidden_field.value = 0; //unset destroy
                }
                else
                {
                    hidden_field.value = 1; //set to destroy
                    if($("#default_language_"+$(this).val()).is(':checked')){
                        $(":input[name='default_language']").attr('checked', false).change();
                    }
                }
            });
        });
        $(":input[name='default_language']").change(function(){
            $("input[type='hidden'].default_language_hidden_fields").each(function(){
                $(this)[0].value = false;
            });
            if($(this).attr('checked'))
            {
                $(this).prev("input[type='hidden']")[0].value = true;
                if(!$("#include_languages_"+$(this).val()).is(':checked'))
                {
                    $("#include_languages_"+$(this).val()).attr("checked", true);
                    $("#include_languages_"+$(this).val()).change();
                }
            }
        });
        myLib.generator_side_generic.init();
    });
</script>
