<% title 'CITES ORS - Questionnaire Responses' %>
<div class="span-24 last">
  <div id="content_header">
    <% info_tip_text = "" %>
    <%= render :partial => "administration/menu", :locals => {:header => "Search Responses" + info_tip("Search Questionnaire Responses ", info_tip_text), :include_options => "questionnaires"} -%>
  </div>
  <div class="span-24 last ">
    <fieldset>
      <ul>
        <li>
          <%= label_tag "Questionnaire" %>
          <%= select :search, :questionnaire, @questionnaires.collect{|p| [h(p.title[0,90])+(p.title.size > 90 ? '...' : ''), p.id] }, { :include_blank => t('manage_delegates.select_a_q') } %>
        </li>
        <li>
          <%= label_tag "Section" %>
          <%= select :search, :section, [], { :include_blank => "Choose a section" }, { :validate => "{required:true}"} %>
        </li>
        <li>
          <%= label_tag "Question" %>
          <%= select :search, :question, [] , { :include_blank => "Choose a question" }, { :validate => "{required:true}"} %>
        </li>
      </ul>
    </fieldset>
    <fieldset id="responses_loop_items" class="hide">
      <legend>Looping items</legend>
      <ul>
      </ul>
    </fieldset>
    <div id="users_answers"></div>
  </div>
</div>
