<h1> EDIT YOUR PROFILE </h1>

<%= form_for @application_profile, :url => { :action => :update } , :html => { :multipart => true } do |f| %>

  <fieldset>
    <div class="row padded group" >
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="row padded group" >
      <%= f.label :short_title %>
      <%= f.text_field :short_title %>
    </div>
    <div class="row padded group" >
      <%= f.label :sub_title %>
      <%= f.text_field :sub_title %>
    </div>
    <div class="row padded group" >
      <%= f.label :logo_url %>
      <%= f.text_field :logo_url %>
    </div>
    <div class="row padded group" >
      <%= f.label :logo %>
      <%= f.file_field :logo %>
    </div>
    <div class="row padded group">
      <%= f.label :show_sign_up %>
      <%= f.check_box :show_sign_up %>
    </div>
  </fieldset>
  <%= f.submit %>
<% end %>
