<%= form_for @role do |f| %>
    <% if @role.errors.any? %>
      <div id="errorExplanation">
        <ul id='error_messages'>
          <% @role.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p><%= f.submit "Submit" %></p>
<% end %>
