<h1>Edit Delegation</h1>
<div class="span-24 last">
  <div class="delegation-form">
    <%= render :partial => "users/options"%>
    <%= form_for @delegation do |f| %>
      <div class="row group padded">
        <strong><%= t('generic.delegator')%>:</strong>
        <%= @delegator.full_name %>
      </div>

      <div class="row group padded">
        <strong><%= t('generic.delegate')%>:</strong>
        <%= @user_delegate.delegate.full_name %>
      </div>

      <div class="row group padded">
        <strong><%= f.label :remarks, t('generic.remarks') %></strong>
      </div>
      <div class="row">
        <%= f.text_area :remarks, :cols => 50, :rows => 5, :class => "grow" %>
      </div>

      <div class="row group padded">
        <strong><%= f.label :questionnaire_id, t('manage_delegates.available_q') %></strong>
      </div>
      <div class="row">
        <%= select "delegation", :questionnaire_id, @available_questionnaires.collect{|p| [h(p.title(I18n.locale.to_s)[0,50])+"...", p.id] }, { :include_blank => t('manage_delegates.select_a_q') } %>
      </div>

      <div class="row group padded">
        <%= f.check_box :can_view_all_questionnaire %>
        <%= f.label :can_view_all_questionnaire, t('manage_delegates.can_view_all_questionnaire')  %>
      </div>

      <%= f.submit %>
    <% end %>
  </div>
</div>
