<%= form_for @user_session do |f| %>
  <% if @user_session.errors.any? %>
    <div id="errorExplanation">
      <ul id='error_messages'>
        <% @user_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :lang, params[:lang] || "en" %>
  <p>
    <%= f.label :email, t("generic.email") %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, t("generic.password") %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit t("login_menu.login"), class: 'btn' %></p>
<% end %>
