<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || t('title')) -%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <% #= stylesheet_link_tag 'blueprint/screen.css', :media => "screen, projection" %>
    <% #= stylesheet_link_tag 'blueprint/print.css', :media => "print" %>
    <!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie.css", :media =>"screen, projection" %><![endif]-->

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_tag "var RAILS_ROOT = '#{ActionController::Base.relative_url_root}';" -%>
    <%= render 'layouts/ga' %>
    <%= yield(:head) -%>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/flash_notification' %>

      <div class="container app-content">
        <%= yield -%>
      </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
